<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>
<meta charset="utf-8">
  
<style type="text/css">
html, body {height:100%; margin:0; padding:0;}
#myCenterDiv {
    position:absolute; 
    left:0%;   
    text-align: center;
    position:fixed; top:0; left:0; width:100%; height:100%;
    background-color:#fafbd3;
}





</style>
<script type="text/javascript">
	window.onload = function(){
		​$("textarea").​​​​​​height(400);
		
	};
</script>
<title>first page</title>
</head>
<body>

	<div id="myCenterDiv">
	<div data-role="header" data-theme="b" >
    <h1>반 정보</h1>
</div>


	<div style="margin-top:20%">
	
		<table style="width:90%"   align="center">
	
		<tr>
			<td align="left" width="30%"><img src="/hanium_shinhan_classmate/res/Class_Name.PNG"/></td><td><font size="6">신한대학교</font></td>
		</tr>
		</table>
		
		<table style="width:90%"   align="center">
		<tr >
			<td align="left" width="25%"><img src="/hanium_shinhan_classmate/res/Class_Teacher.PNG"/></td>
			<td align="left"><font>정동수</font></td>
		</tr>
		</table>
		
	<table style="width:90%"   align="center">
		<tr>
			<td align="left"><img src="/hanium_shinhan_classmate/res/Class_Subject.PNG"/></td>
			
		</tr>
		<tr>
			<td colspan="2" align="left">풀이 돋고 이상의 꽃이 피고 희망의 놀이 뜨고 열락의 새가 운다사랑의 풀이 없으면 인간은 사막이다 오아이스도 없는 사막이다 보이는 끝까지 찾아다녀도 목숨이 있는 때까지 방황하여도 보이는 것은 거친 모래뿐일 것이다 이상의 꽃이</td>
		</tr>
	
	<tr>
		<td colspan="2" align="right"><a href="#" data-role="button" data-inline="true" style="margin-top:15%">가입 신청</a></td>
	</tr>
	</table>
	
	
	</div>

	</div>
</body>
</html>