<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>
<meta charset="utf-8">

<style type="text/css">
html, body {height:100%; margin:0; padding:0;}
#myCenterDiv {
    position:absolute; 
    left:0%;   
    text-align: center;
    position:fixed; top:0; left:0; width:100%; height:100%;
    background-color:#fafbd3;
}





</style>

<title>Ma in</title>
</head>
<body>
	<div id="myCenterDiv">
	<div style="margin-top:100px">
	<table id=movie-table class=ui-responsive data-role="table" data-mode="toggle">
		<tr align=center>
			<td width=50px></td>
			<td width=50px><font color="skyblue"><H1>학습하기</H1></font></td>
		</tr>
			<td></td>
			<td height=20><font color="skyblue"><H1>Q & A</H1></font></td>
		<tr>
			<td></td>
			<td><font color="skyblue"><H1>My Page</H1></font></td>
		</tr>
		<tr>
			<td></td>
			<td><font color="skyblue"><H1>공지사항</H1></font></td>
		</tr>
		<tr>
			<td></td>
			<td><font color="skyblue"><H1>자유게시판</H1></font></td>
		</tr>
	</table>
	</div>
	</div>
</body>
</html>