<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>
<meta charset="utf-8">

<style type="text/css">
html, body {height:100%; margin:0; padding:0;}
#myCenterDiv {
    position:absolute; 
    left:0%;   
    text-align: center;
    position:fixed; top:0; left:0; width:100%; height:100%;
    background-color:#fafbd3;
}





</style>

<title>first page</title>
</head>
<body>
	<div id="myCenterDiv">
	<div data-role="header" data-theme="b" >
    <h1>반 관리</h1>
</div>
   <table>
   <tr><img style="margin-top:60px; margin-right:11px" width="26%" height="14%" src="/hanium_shinhan_classmate/res/28--1.PNG"/>
   </tr>
     <div style="margin:0% 16% 0 16%">
	 <input type="button" value="가입 승인" style=" font-weight:bold; background-color:darkgray " data-mini="true">
	</div>
    </table>
     <table>
   <tr><img style="margin-top:80px" width="26%" height="14%" src="/hanium_shinhan_classmate/res/28--2.PNG"/>
   </tr>
     <div style="margin:0% 16% 0 16%">
	 <input type="button" value="학생 역량 관리" style="font-weight:bold; background-color:darkgray " data-mini="true">
	</div>
    </table>
	</div>
</body>
</html>