<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>
<meta charset="utf-8">

<style type="text/css">
html, body {height:100%; margin:0; padding:0;}
#myCenterDiv {
    position:absolute; 
    left:0%;   
    text-align: left;
    position:fixed; top:0; left:0%; width:100%; height:100%;
    background-color:#fafbd3;
}

</style>

<title>first page</title>
</head>
<body>
	<div id="myCenterDiv">
	<div data-role="header" style="background-color:#04B486">
    <a class="ui-btn ui-shadow ui-corner-all ui-icon-arrow-l ui-btn-icon-left" href="index.html">Back</a>
<h1>CLASSMATE</h1>
     <a class="ui-btn ui-shadow ui-corner-all ui-icon-arrow-l ui-btn-icon-Grid" href="index.html">Menu</a>
</div>
	<div data-role="header" data-theme="b" >
    <h1>가입승인</h1>
</div>
<div style="margin-top:10px; margin-left:20px">
 <h3>우리반 등수</h3>
</div>
<div id="context" class="content" style="overflow: scroll;" data-role="none">
<div style="margin-top:15px; margin-left:20px" style=text-aling:center;>
<table border="1">
     <thead>
       <tr>
         <th colspan="4">순위</th>
         <th colspan="5">이름</th>
         <th colspan="4">평균점수</th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <td colspan="4" style=text-align:center;>1</td>
         <td colspan="5"style=text-align:center;>이재훈</td>
         <td colspan="4" style=text-align:center;>90</td>
         </tr>
         <tr>
         <td colspan="4" style=text-align:center;>2</td>
         <td colspan="5"style=text-align:center;>트롤</td>
         <td colspan="4" style=text-align:center;>90</td></tr><tr>
         <td colspan="4" style=text-align:center;>3</td>
         <td colspan="5"style=text-align:center;>황개</td>
         <td colspan="4" style=text-align:center;>90</td></tr>
       </tbody>
       </table>
       </div>
       </div>
<div style="margin-top:50px; margin-left:20px">
 <h3>월별 학생 평균점수</h3>
</div>

	</div>
</body>
</html>