<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>

<style type="text/css">
html, body {height:100%; margin:0; padding:0;}
#myCenterDiv {
    position:absolute; 
    left:0%;   
    text-align: center;
    position:fixed; top:0; left:0; width:100%; height:100%;
    background-color:#fafbd3;

}
#triangle-right.top:after {
  top: -40px;
  right: 50px;
  bottom: auto;
  left: auto;
  border-width: 20px 20px 20px 0;
  border-color: transparent transparent #075698;
}


</style>
<title>p33</title>
</head>
<body>
<div id="myCenterDiv">
	<div data-role="header" style="background-color:#04B486">
    <a class="ui-btn ui-shadow ui-corner-all ui-icon-arrow-l ui-btn-icon-left" href="index.html">Back</a>
	<h1>CLASSMATE</h1>
     <a class="ui-btn ui-shadow ui-corner-all ui-icon-arrow-l ui-btn-icon-Grid" href="index.html">Menu</a>
	</div>
	<div data-role="header" data-theme="b" >
    <h1>QnA(질문내용)</h1>
	</div>
	<p class="triangle-right top">This could be any element you want</p>
</div>
</body>
</html>