<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>
<script type="text/javascript" src="/javascripts/lib/soundmanager2.min.js,/javascripts/tooltip.js" async="async"></script>
<link type="text/css" href="/stylesheets/tooltip.css" rel="stylesheet" media="screen">
<script type="text/javascript" src="/javascripts/smails.io.min.js" async="async"></script>
<script type="text/javascript" src="/javascripts/minimaps.min.js" async="async"></script>
<script type="text/javascript" src="http://www.google-analytics.com/ga.js" async="async"></script>
<script type="text/javascript" src="/javascripts/firejune.min.js" async="async"></script>
<script type="text/javascript" src="http://countly.firejune.io/javascripts/api.js?ver=1" async="async"></script>
<script type="text/javascript" src="http://analytics.firejune.com/piwik.js" async="async"></script>
<script type="text/javascript" src="/load/platform.twitter.com/anywhere.js" async="async"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style type="text/css">

html, body {height:100%; margin:0; padding:0;}
#myCenterDiv {
    position:absolute; 
    left:0%;   
    text-align: center;
    position:fixed; top:0; left:0; width:100%; height:100%;
    background-color:#fafbd3;

}
#article-1577 > div > p.triangle-right.top

</style>
<title>p33</title>
</head>
<body>
<div id="myCenterDiv">
	<div data-role="header" style="background-color:#04B486">
    <a class="ui-btn ui-shadow ui-corner-all ui-icon-arrow-l ui-btn-icon-left" href="index.html">Back</a>
	<h1>CLASSMATE</h1>
     <a class="ui-btn ui-shadow ui-corner-all ui-icon-arrow-l ui-btn-icon-Grid" href="index.html">Menu</a>
	</div>
	<div data-role="header" data-theme="b" >
    <h1>QnA(질문내용)</h1>
	</div>
	<div>
	<p class="triangle-right top">This could be any element you want</p>
	</div>
</div>
</body>
</html>