<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>
<meta charset="utf-8">

<style type="text/css">
html, body {height:100%; margin:0; padding:0;}
#myCenterDiv {
    position:absolute; 
    left:0%;   
    text-align: center;
    top:0; left:0; width:100%; height:100%; position:fixed;
    background-color:#fafbd3;
}





</style>

<title>teacher main</title>
</head>
<body>
	<div id="myCenterDiv">
	
	<table align="center" style="margin-top:20%">
		<tr>
			<td><img src="/hanium_shinhan_classmate/res/chok1.png" height="28%"/></td><td><img src="/hanium_shinhan_classmate/res/chok2.png" height="28%"/></td>
		</tr>
		<tr>
			<td><img src="/hanium_shinhan_classmate/res/chok3.png" height="28%"/></td><td><img src="/hanium_shinhan_classmate/res/chok4.png" height="28%"/></td>
		</tr>
	</table>
	
	<div style="margin:15% 7% 0 7%">
	 <a href="/hanium_shinhan_classmate/view/6-Mak_Class.html"><input type="button"  value="반 개설" ></a>
	</div>
	</div>
</body>
</html>