<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>
<meta charset="utf-8">

<style type="text/css">
html, body {height:100%; margin:0; padding:0;}
#myCenterDiv {
    position:absolute; 
    left:0%;   
    text-align: center;
    position:fixed; top:0; left:0; width:100%; height:100%;
    background-color:#fafbd3;
}



</style>

<title>Find Class</title>
</head>
<body>
<div id="myCenterDiv">


	<div style="width:85%;margin:35% 7% 0 7%">
		<input  type="search" name="search-5" id="search-5" value="" placeholder="반 이름">
	</div>
	<table style="width:95%; margin:auto;" data-role="table" id="table-custom-2" data-mode="toggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
		<thead>
			<tr>
				<th >반 이름</th>
				<th >선생님</th>
				<th>가입 인원</th>
				<th>등록 일자</th>
			</tr>
</thead>
	<tbody>
		<tr>
			<td><a href="3">신한대학교</a></th>
			<td align="center">김상현</td>
			<td align="center">41</td>
			<td>2014-2-1</td>
		</tr>
		<tr>
			<th><a href="3">신한대학교</a></th>
			<td>김상현</td>
			<td>41</td>
			<td>2014-2-1</td>
		</tr>
		<tr>
			<th><a href="3">신한대학교</a></th>
			<td>김상현</td>
			<td>41</td>
			<td>2014-2-1</td>
		</tr>
		<tr>
			<th><a href="3">신한대학교</a></th>
			<td>김상현</td>
			<td>41</td>
			<td>2014-2-1</td>
		</tr>
		</tbody>
	</table>
	</div>
</body>
</html>