<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>
<meta charset="utf-8">

<style>
html, body {height:100%; margin:0; padding:0;}
#myCenterDiv {
   background: #fafbd3;
   position:absolute;
                padding:0px;
                margin:0px;
                text-align: center;
                width:100%; height:100%;
}






</style>

<title>Login</title>
</head>
<body>
	<div id="myCenterDiv">
	
	
	<div>
		<img style="margin:auto;padding-top:25%;"src="/hanium_shinhan_classmate/res/logo2.png"/>
	</div>
		 <div>
        
    </div>

		
		<table style="width:70%;" align="center">		
			<tr>
				<td align="right">
			
			<fieldset data-role="controlgroup" data-type="horizontal" data-mini="true"> 
			<legend></legend> 
				<label for="am_h">학생</label> 
				<input type="radio" name="apm" id="am_h" value="AM" checked="checked"/> 
				<label for="pm_h">선생님</label> 
				<input type="radio" name="apm" id="pm_h" value="PM" />
			</fieldset>
		
		</td>
			</tr>
			
			<tr>
				<td><input type="text" data-clear-btn="true" placeholder="&nbsp;ID"></td>
			</tr>
			<tr>
				<td><input type="text" data-clear-btn="true" placeholder="&nbsp;PASSWORD"></td>
			</tr>
			<tr>
				<td><input type="button" data-mini="true" value="로 그 인"></td>
			</tr>
			<tr>
				<td >
					<font style="float:left">로그인 상태 유지</font><input style="float:left;position: relative; top: 2px;"type="checkbox" name="KeepLogin"/>
				</td>
				</tr>
				<tr>
				<td>
					<a href="../student/03-Find.jsp" style="float:left">아이디/비밀번호를 잊으셨나요?</a>
				</td>
				
			</tr>
		</table>
		
    
	
	</div>
	
</body>
</html>