<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>
<meta charset="utf-8">

<style type="text/css">
html, body {height:100%; margin:0; padding:0;}





</style>

<title>Question</title>
</head>
<body>
	<div style=" position:absolute; 
    left:0%;   
    position:fixed; top:0; left:0; width:100%; height:100%;">
	<div style="margin-top:25%">
	<div data-role="main" class="ui-content">
    <form method="post" action="demoform.asp">
      <div class="ui-field-contain">
      	<font>날짜 : 2015-03-22</font>
      	</div>
      	<div class="ui-field-contain">
        <label for="subject">과목</label>
        <input type="text" name="subject" id="subject">       
        <label for="title">제목</label>
        <input type="text" name="title" id="title">
        <label for="content">내용</label>
        <textarea name="content" id="content"></textarea>
      </div>
      <div style="float:right">
      <a href="/hanium_shinhan_classmate/view/15-QandA(student)1.html"><input type="button" data-inline="true" data-mini="true" value="취소"></a>
      <input type="submit" data-inline="true" data-mini="true" value="전송">
      </div>
    </form>
  </div>
  </div>
</div>
</body>
</html>