<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>
<meta charset="utf-8">

<style type="text/css">
html, body {height:100%; margin:0; padding:0;}
#myCenterDiv {
    position:absolute; 
    left:0%;   
    text-align: center;
    position:fixed; top:0; left:0; width:100%; height:100%;
    background-color:#fafbd3;
}





</style>

<title>question</title>
</head>
<body>
	<div id="myCenterDiv">
	<div data-role="header"style="background-color:#04B486;">
	<h1>CLASSMATE</h1>
	<a href="#add-form" data-icon="gear" data-iconpos="notext" style="background-color:#04B486;">Add</a>
		<a href="#nav-panel" data-icon="bars" data-iconpos="notext" style="background-color:#04B486;">Menu</a>
		
	</div><!-- /header -->
	<div data-role="panel" data-display="overlay" data-theme="b" id="nav-panel" data-position="right">
       
            <ul data-role="listview">
                <li><a data-ajax="false"  href="../student/12-study.html">학습하기</a></li>
                <li><a data-ajax="false"  href="../student/15-QandA(student).html">Q&A</a></li>
                <li><a data-ajax="false"  href="../student/19-Stu_MyPage.html">My Page</a></li>
                <li><a data-ajax="false"  href="../student/22-notice1.html">공지사항</a></li>
                <li><a data-ajax="false"  href="../student/24-board2.html">자유게시판</a></li>
				<li style="margin-top:8%"><a data-ajax="false"  href="../student/36-Chat(student).html">반 채팅</a></li>
        </ul>

</div>
<div data-role="panel" data-position="left" data-display="overlay" data-theme="a" id="add-form">
        <form class="userform">
            <table align="center" width="90%" style="margin-top:7%">
			<tr>
				<td align="center" rowspan="2"><img width="70%"src="/hanium_shinhan_classmate/res/myinfo.PNG"></td><td> <font style="margin-left:5%">이름 : 황개<br><strong>&nbsp;학생</strong></font></td>
				
			</tr>
			<tr>
			</tr>
			<tr>
				<td align="center"><a style="margin-left:2%" href="#" data-role="button" data-mini="true" data-inline="true" >&nbsp;&nbsp;&nbsp;사진 등록&nbsp;&nbsp;&nbsp;</a></td><td align="center"><a style="margin-left:2%" href="#" data-role="button" data-mini="true" data-inline="true" >&nbsp;&nbsp;&nbsp;Main&nbsp;&nbsp;&nbsp;</a></td>
			</tr>	
			<tr>
				<td align="center" colspan="2"><a style="margin-left:2%" href="#" data-role="button" data-mini="true" data_inline="true">LOGOUT</a></td></tr>
		</table>
		
        </form>
</div>
	<div data-role="header" data-theme="b" >
    <h1>학습부여</h1>
</div>
	<div id="context" class="content"  data-role="none">
    
	<table style="width:95%" align="center">
	<tr>
		<td>
	<img style="float:left" width="15%" src="/hanium_shinhan_classmate/res/27-1.PNG"/></td>
	</tr>
	<tr>
		
		<td colspan="2"><div style="margin-right:2%;"><input type="text" placeholder="제목을 입력하세요"></div></td>
	</tr>
    <tr>
		<td>
	<img style="float:left" width="25%" src="/hanium_shinhan_classmate/res/27-2.PNG"/></td>
	</tr>
    
	<tr>

		<td ><textarea style=" margin-top:5px" name="textarea" id="textarea" >1. </textarea></td><td>
		</td>
	
	</tr>
	
	<tr>
		<td>
	<img style="float:left" width="25%" src="/hanium_shinhan_classmate/res/27-3.PNG"/></td>
	</tr>
	<tr><td colspan="2">
	 <SELECT> <OPTION selected value=1>문제수</OPTION> 
	 <OPTION value=2>1문제</OPTION> <OPTION value=3>2문제</OPTION> <OPTION value=4>3문제</OPTION>
	 <OPTION value=5>4문제</OPTION><OPTION value=6>5문제</OPTION><OPTION value=7>6문제</OPTION><OPTION value=8>7문제</OPTION>
	 <OPTION value=9>8문제</OPTION><OPTION value=10>9문제</OPTION><OPTION value=11>10문제</OPTION>
	 </SELECT> 
	 </td></tr>
	 <table style="width:95%; margin:auto;" data-role="table" id="table-custom-2" data-mode="toggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
		<thead>
			<tr bgcolor=lightgray>
				<th>1</th>
				<th>2</th>
				<th>3</th>
				<th>4</th>
				<th>5</th>
			</tr>
		</thead>
			<tr>
				<td>
				<select data-mini="true" size="1">
				<option selected value="1">1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				</select>
				</td>
				<td>
				<select data-mini="true" size="1">
				<option selected value="1">1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				</select>
				</td>
				<td>
				<select data-mini="true" size="1">
				<option selected value="1">1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				</select>
				</td>
				<td>
				<select data-mini="true" size="1">
				<option selected value="1">1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				</select>
				</td>
				<td>
				<select data-mini="true" size="1">
				<option selected value="1">1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				</select>
				</td>
			</tr>
			
	</table>
	<tr><td colspan="4" ><a href="../student/12-study.html" data-role="button" data-inline="true" style=" margin-left:10px">문제 등록</a></td></tr>
	     </table>
  

     
     </div>
	</div>
</body>
</html>