<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>
<meta charset="utf-8">

<style type="text/css">
html, body {height:150%; margin:0; padding:0;}
#myCenterDiv {
    position:absolute; 
    left:0%;   
    text-align: center;
    top:0; left:0; width:150%; height:150%;
    background-color:#fafbd3;
}





</style>

<title>link(student)</title>
</head>
<body>
	<div id="myCenterDiv">
		<table border=1 style="margin:3%">
			<tr>
				<td style="width:40%"><a href="/hanium_shinhan_classmate/view/student/01-FirstPage.html" data-ajax="false"><font size=2>첫화면</font></a></td>
			</tr>
			<tr>
				<td><a href="/hanium_shinhan_classmate/view/student/02-Login.html" data-ajax="false"><font size=2>로그인화면</font></a></td>
			</tr>
			<tr>
				<td><a href="/hanium_shinhan_classmate/view/student/03-Find.jsp" data-ajax="false"><font size=2>아이디/비밀번호 찾기</font></a></td>
			</tr>
			<tr>
				<td><a href="/hanium_shinhan_classmate/view/student/04-Join.html" data-ajax="false"><font size=2>회원가입</font></a></td>
			</tr>
			<tr>
				<td><a href="/hanium_shinhan_classmate/view/student/08-Stu_main(1).html" data-ajax="false"><font size=2>참여 되어있는 반</font></a></td>
			</tr>
			<tr>
				<td><a href="/hanium_shinhan_classmate/view/student/09-FindClass.html" data-ajax="false"><font size=2>반 검색</font></a></td>
			</tr>
			<tr>
				<td><a href="/hanium_shinhan_classmate/view/student/10-Class_Info.html" data-ajax="false"><font size=2>반 정보</font></a></td>
			</tr>
			<tr>
				<td><a href="/hanium_shinhan_classmate/view/student/11-main(student).html" data-ajax="false"><font size=2>메인화면</font></a></td>
			</tr>
			<tr>
				<td><a href="/hanium_shinhan_classmate/view/student/12-study.html" data-ajax="false"><font size=2>학습하기</font></a></td>
			</tr>
			<tr>
				<td><a href="/hanium_shinhan_classmate/view/student/13-homework.html" data-ajax="false"><font size=2>과제</font></a></td>
			</tr>
			<tr>
				<td><a href="/hanium_shinhan_classmate/view/student/14-score.html" data-ajax="false"><font size=2>점수확인</font></a></td>
			</tr>
			<tr>
				<td><a href="/hanium_shinhan_classmate/view/student/15-QandA(student).html" data-ajax="false"><font size=2>Q & A</font></a></td>
			</tr>
			<tr>
				<td><a href="/hanium_shinhan_classmate/view/student/16-QandA-detail(student).html" data-ajax="false"><font size=2>Q & A 세부</font></a></td>
			</tr>
			<tr>
				<td><a href="/hanium_shinhan_classmate/view/student/17-question.html" data-ajax="false"><font size=2>질문하기</font></a></td>
			</tr>
			<tr>
				<td><a href="/hanium_shinhan_classmate/view/student/18-mypage(student).html" data-ajax="false"><font size=2>마이페이지</font></a></td>
			</tr>
			<tr>
				<td><a href="/hanium_shinhan_classmate/view/student/19-Stu_MyPage.html" data-ajax="false"><font size=2>내 정보</font></a></td>
			</tr>
			<tr>
				<td><a href="/hanium_shinhan_classmate/view/student/20-study.html" data-ajax="false"><font size=2>학업성취도</font></a></td>
			</tr>
			<tr>
				<td><a href="/hanium_shinhan_classmate/view/student/21-joinsituation.html" data-ajax="false"><font size=2>가입현황</font></a></td>
			</tr>
			<tr>
				<td><a href="/hanium_shinhan_classmate/view/student/22-notice1.html" data-ajax="false"><font size=2>공지사항</font></a></td>
			</tr>
			<tr>
				<td><a href="/hanium_shinhan_classmate/view/student/23-notice-write1.html" data-ajax="false"><font size=2>공지하기</font></a></td>
			</tr>
			<tr>
				<td><a href="/hanium_shinhan_classmate/view/student/24-board2.html" data-ajax="false"><font size=2>자유게시판</font></a></td>
			</tr>
			<tr>
				<td><a href="/hanium_shinhan_classmate/view/student/25-board-write.html" data-ajax="false"><font size=2>자유게시판 글쓰기</font></a></td>
			</tr>
			<tr>
				<td><a href="/hanium_shinhan_classmate/view/student/26-board-detail1.html" data-ajax="false"><font size=2>자유게시판 세부</font></a></td>
			</tr>
			<tr>
				<td><a href="/hanium_shinhan_classmate/view/student/36-Chat(student).html" data-ajax="false"><font size=2>채팅</font></a></td>
			</tr>
		</table>
	</div>
</body>
</html>