<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>
<meta charset="utf-8">

<style type="text/css">
html, body {height:100%; margin:0; padding:0;}
#myCenterDiv {
    position:absolute; 
    left:0%;   
    text-align: center;
    position:fixed; top:0; left:0; width:100%; height:100%;
    background-color:#fafbd3;
}





</style>

<title>link(teacher)</title>
</head>
<body>
	<div id="myCenterDiv">
		<table border=1 style="margin:3%">
			<tr>
				<td style="width:40%"><a href="/hanium_shinhan_classmate/view/teacher/01-FirstPage.html"><font>첫화면</font></a></td>
			</tr>
			<tr>
				<td><a href="/hanium_shinhan_classmate/view/teacher/02-Login.html"><font>로그인화면</font></a></td>
			</tr>
			<tr>
				<td><a href="/hanium_shinhan_classmate/view/teacher/03-Find.jsp"><font>아이디/비밀번호 찾기</font></a></td>
			</tr>
			<tr>
				<td><a href="/hanium_shinhan_classmate/view/teacher/04-Join.html"><font>회원가입</font></a></td>
			</tr>
			<tr>
				<td><a href="/hanium_shinhan_classmate/view/teacher/05-teacher_main.html"><font>관리 하고있는 반</font></a></td>
			</tr>
			<tr>
				<td><a href="/hanium_shinhan_classmate/view/teacher/06-MakeClass.html"><font>반 개설</font></a></td>
			</tr>
			<tr>
				<td><a href="/hanium_shinhan_classmate/view/teacher/07-teacher_main.html"><font>메인화면</font></a></td>
			</tr>
			<tr>
				<td><a href="/hanium_shinhan_classmate/view/teacher/24-board2.html"><font>자유게시판</font></a></td>
			</tr>
			<tr>
				<td><a href="/hanium_shinhan_classmate/view/teacher/25-board-write.html"><font>자유게시판 글쓰기</font></a></td>
			</tr>
			<tr>
				<td><a href="/hanium_shinhan_classmate/view/teacher/26-board-detail1.html"><font>자유게시판 내용</font></a></td>
			</tr>
			<tr>
				<td><a href="/hanium_shinhan_classmate/view/teacher/27-Question.html"><font>학습부여</font></a></td>
			</tr>
			<tr>
				<td><a href="/hanium_shinhan_classmate/view/teacher/28-twobutton.html"><font>반 관리</font></a></td>
			</tr>
			<tr>
				<td><a href="/hanium_shinhan_classmate/view/teacher/29-Classmanagement.html"><font>가입승인</font></a></td>
			</tr>
			<tr>
				<td><a href="/hanium_shinhan_classmate/view/teacher/30-StudentManagement.html"><font>학생역량관리</font></a></td>
			</tr>
			<tr>
				<td><a href="/hanium_shinhan_classmate/view/teacher/31-MyInformation(teacher).html"><font>내 정보</font></a></td>
			</tr>
			<tr>
				<td><a href="/hanium_shinhan_classmate/view/teacher/32-Q&A(teacher).html"><font>Q & A</font></a></td>
			</tr>
			<tr>
				<td><a href="/hanium_shinhan_classmate/view/teacher/33-Q&A(details).html"><font>Q & A 세부</font></a></td>
			</tr>
			<tr>
				<td><a href="/hanium_shinhan_classmate/view/teacher/34-Notice(teacher).html"><font>공지사항</font></a></td>
			</tr>
			<tr>
				<td><a href="/hanium_shinhan_classmate/view/teacher/35-NoticeWrite(teacher).html"><font>공지하기</font></a></td>
			</tr>
			<tr>
				<td><a href="/hanium_shinhan_classmate/view/teacher/37-Chat(teacher).html"><font>채팅</font></a></td>
			</tr>
		</table>
	</div>
</body>
</html>